<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="icon-home3" ></span> Suelo de Agua Nuevo Mundo.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><span class="icon-phone"></span> +528556778345</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="icon-mail3"></span> Samapo@example.com</a>
          </li>
        </ul>
        <ul class="navbar-nav me-2">
        <li class="nav-item dropdown me-5">
          <a class="nav-link dropdown-toggle btn btn-info me-2" type="button" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil<span class="icon-user"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="#"><span class="icon-cog"></span> Configuracion</a></li>
          <li><a class="dropdown-item" href="/Login&Register"><span class="icon-switch"></span> Cerrar Sesión</a></li>
          </ul>
      </li>
        </div>
      </div>
    </div>
  </nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/imagenes/logo.png" alt="" width="100" height="85">
        </a>
        <a class="navbar-brand" href="#">Samapo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/UsuarioDefault">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tarifas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/InformacionTHUsuarioDefault#TarifaDU">Domesticas Urbanas</a></li>
              <li><a class="dropdown-item" href="/InformacionTHUsuarioDefault#TarifaCU">Comerciales Urbanas</a></li>
            </ul>
          </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/InformacionTHUsuarioDefault#Historial">Historial</a>
            </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>